
 /*  

@media only screen and (max-width: 319px) { }
@media only screen and (min-width: 320px) { }
@media only screen and (min-width: 576px ) { }
@media only screen and (min-width: 768px) { }
@media only screen and (min-width: 992px) { }
@media only screen and (min-width: 1200px) { }

 */

 

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;    
}

*, *:before, *:after {
    box-sizing: inherit;
}

body{
    overflow-x: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}

